* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav Bar */

.navbar-nav {
    margin-right: 50px;
    color: #f4f4f4;
    margin-top: -10px;
    margin-bottom: -20px;
}
.navbar {
    background-color: #181a1c;
    margin-top: -150px;
    height: 100px;
}

.navbar-brand{
    color: #f4f4f4;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-brand:hover {
    color: #E6B31E;
}
.custom-toggler.navbar-toggler {
    border-color: #E6B31E;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(230, 179, 30, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item a {
    color: #fdfdfd;
    font-size: 1.3rem;
    font-weight: 600;
    margin-right: 40px;
    text-transform: uppercase;
}

.l-img {
    height:100px;
    width: 100px;
    overflow: hidden;
}
.nav-item a:hover {
    color: #E6B31E;
}

/* Hero Section */

.c-item {
    height: 105.2vh;
    padding-top: 150px;
}

.c-img {
    height: 100%;
    object-fit:cover;
    filter: brightness(0.2);
}

.carousel-caption h5 {
    color: #E6B31E;
}

.carousel-caption p {
    color: #f4f4f4;
    font-weight: 500;
}

/* Carousel Button */
.arrow {
    position: absolute;
    top: 45%;
    left: 10%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    cursor: pointer;
    height: 100px;
    width: 50px;
}

.arrow span {
    display: flex;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid #E6B31E;
    border-right: 5px solid #E6B31E;
    transform: rotate(45deg);
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.arrow1 {
    position: absolute;
    top: 40%;
    right: 10%;
    transform: translate(-50%, -50%);
    transform: rotate(-90deg);
    cursor: pointer;
    height: 100px;
    width: 50px;
}

.arrow1 span {
    display: flex;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid #E6B31E;
    border-right: 5px solid #E6B31E;
    transform: rotate(-45deg);
    animation: animate 2s infinite;
}

.arrow1 span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow1 span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}


/* About Page */

.about-ceo {
    height: 100vh;
    padding-top: 100px;
}

.about-info h2 {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: -100px;
    margin-bottom: 10px;
    color: #181a1c;
    margin-top: 10px;
}

.about-ceo {
    background-color: #E6B31E ;
    z-index: 10;
    height: 100vh;
}

.info-about {
    background: #181a1c;
    font-size: 12px;
    position: absolute;
    padding: 10px;
    width: 20vw;
    height: 70vh;
    border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
    display: block;
    box-shadow: #00abd0;
    border: 1px solid #f4f4f4;
    outline: 3px solid #f4f4f4;
    color: #191919;
    z-index: 100;
    animation: morph 6s linear infinite;
    border: 2px solid #f4f4f4;
    z-index: 100;
    top: 115vh;
    left: 130px;
}

@keyframes morph {
    0%,
    100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    30% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    60% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
    80% {
        border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
    }
}

.card {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
}
.ceo-info {
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.ceo-img {
    position: relative;
    z-index: 150;
    margin-top: -50px;
}

.ceo-info h3 {
    margin-top: 80px;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.ceo-info h4 {
    font-size: 1.4rem;
}

.about-info {
    font-size: 1.2rem;
    padding-right: 100px;
    text-align: justify;
}
/* Breakpoints */

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 20px;
    }
    .navbar-brand img {
        width: 70px;
        height: 70px;
    }
    .navnav {
        padding-bottom: 10px;
    }

    .custom-toggler .navbar-toggler-icon{
        width: 20px;
    }
    .custom-toggler.navbar-toggler{
        width: 50px;
        height: 40px;
        margin-bottom: 10px;
    }

    .about-info {
        font-size: .6rem;
        padding-right: 30px;
    }

    .info-about {
        height: 200px;
        left: 40px;
        margin-top: 110px;
    }

    .about-ceo h2 {
        
    }

    .ceo-info h3 {
        margin-top: 10px;
        margin-left: 20px;
        font-size: 1rem;
    }
    .ceo-info h4 {
        font-size: .7rem;
    }

    .ceo-img {
        margin-top: 10px;
        margin-left: 5px;
    }
  }



  @media (min-width: 768px) and (max-width: 991px) {
    .custom-toggler.navbar-toggler{
      margin-right: 30px;
    }
  }