* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Hero Section */

.c-item {
    height: 90.9vh;
}

.c-img {
    height: 100%;
    object-fit:cover;
    filter: brightness(0.6);
}
